<div class="bg-white rounded-xl shadow-sm p-6 w-full mb-5 min-h-screen">
  <!-- Encabezado -->
  <div class="flex justify-between items-start mb-6">
    <!-- Foto de perfil (círculo) y datos a la izquierda -->
    <div class="flex items-center gap-10 mt-4">
      <!-- Texto -->
      <div class="flex items-center justify-between w-full">
        <div>
          <h1 class="text-3xl mb-6 ml-2 font-bold text-gray-800">Mi Perfil</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Línea divisoria -->
  <hr class="my-4 border-gray-500 mr-10">

  <!-- Información Personal -->
  <div class="mb-6">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-4">
      <h2 class="text-xl font-bold text-gray-800">
        Informacion <span class="text-primary text-2xl">Personal</span>
      </h2>
      <!-- Botón "Editar" a la derecha -->  
    </div>
    
    <!-- Main modal -->
    <div #crudModal id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 overflow-y-auto bg-black/50">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between pl-2 border-b">
                    <h3 class="text-lg font-semibold text-black">
                      <span class="text-primary p-6 font-bold">Datos Usuario</span>
                    </h3>
                    <button (click)="openEditModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form [formGroup]="userForm" (ngSubmit)="saveUserData()" class="p-4 md:p-5 bg-white text-black rounded-lg shadow-lg">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div>
                            <label for="nombre" class="block mb-2 text-sm font-medium text-black">Nombre</label>
                            <input type="text" formControlName="nombre" id="nombre" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Escribe tu nombre" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="apellidos" class="block mb-2 font-medium text-black">Apellidos</label>
                            <input type="text" formControlName="apellidos" id="apellidos" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Escribe tus apellidos" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="email" class="block mb-2 text-sm font-medium text-black">Email</label>
                            <input type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Escribe tu email" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="fecha_nacimiento" class="block mb-2 text-sm font-medium text-black">Fecha de nacimiento</label>
                            <input type="date" formControlName="fecha_nacimiento" id="fecha_nacimiento" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type product name" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="sexo" class="block mb-2 text-sm font-medium text-black">Sexo</label>
                            <select formControlName="sexo" id="sexo" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                              <option [value]="1">Masculino</option>
                              <option [value]="2">Femenino</option>
                              <option [value]="3">NS/NSC</option>
                            </select>
                        </div>
                        <div class="col-span-2">
                            <label for="peso" class="block mb-2 text-sm font-medium text-black">Peso</label>
                            <input type="text" formControlName="peso" id="peso" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Dame tu peso" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="altura" class="block mb-2 text-sm font-medium text-black">Altura</label>
                            <input type="text" formControlName="altura" id="altura" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Dame tu altura" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                           <label for="objetivo" class="block mb-2 text-sm font-medium text-black">Objetivo</label>
                            <select id="objetivo" formControlName="objetivo" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                              @for (opcion of opcionesObjetivos; track $index) {
                              @if (opcion.id === user?.objetivo_id) {
                                  <option [selected]="true" value="{{opcion.id}}">{{ opcion.nombre }}</option>
                              } @else {
                                  <option [selected]="false" value="{{opcion.id}}">{{ opcion.nombre }}</option>
                              }
                            }
                            </select>

                        </div>
                    </div>
                    <div class="flex justify-end">
                      <button 
                        type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" 
                        style="cursor: pointer;"
                        data-modal-hide="crud-modal"
                        (click)="closeEditModal()">
                        Cancelar
                      </button>
                      <button 
                        type="submit"
                        data-modal-hide="crud-modal"  
                        class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark" 
                        style="cursor: pointer;"
                        [disabled]="userForm.invalid">
                        Actualizar Datos
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <dl class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2 datosUsuario">
  <!-- Nombre -->
  <!-- Nombre -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Nombre:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.nombre }}</dd>
  </div>

  <!-- Apellidos -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Apellidos:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.apellidos }}</dd>
  </div>

  <!-- Email -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Email:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.email }}</dd>
  </div>

  <!-- Fecha de Nacimiento -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Fecha de Nacimiento:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.fecha_nacimiento }}</dd>
  </div>

  <!-- Fecha de Alta -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Fecha de Alta:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.fecha_alta }}</dd>
  </div>

  <!-- Sexo -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Sexo: 
    </dt>
<dd class="ml-2 text-gray-600 text-2xl">
  {{ sexoLabels[user?.sexo || 3] }}
</dd>
  </div>

  <!-- Peso -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Peso:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.peso }} kg</dd>
  </div>

  <!-- Altura -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Altura:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.altura }} cm</dd>
  </div>

  <!-- IMC -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      IMC:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.imc }}</dd>
  </div>

  <!-- Objetivo -->
  <div class="flex flex-row items-center">
    <dt class="flex items-center font-bold text-gray-800 text-2xl">
      Objetivo:
    </dt>
    <dd class="ml-2 text-gray-600 text-2xl">{{ user?.objetivo }}</dd>
  </div>
</dl>
  <div class="flex justify-end">
          <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="max-w-[180px] mr-40 md:mt-0 bg-orange-500 text-white px-6 py-4 rounded flex items-center gap-2  " type="button" 
      style="cursor: pointer">
        Editar Usuario
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
        </svg>
      </button>
  </div>

  </div>

  <!-- Línea divisoria -->
  <hr class="my-10 border-gray-500 mr-10">

  <!-- Contraseñas -->
  <div>
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-4">
      <h2 class="text-xl font-bold text-gray-800">
        Contraseña <span class="text-primary text-2xl">Usuario</span>
      </h2>
      <!-- Botón "Editar" a la derecha -->
      <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="max-w-[180px] mt-4 md:mt-0 mr-40 bg-orange-500 text-white px-6 py-4 rounded flex items-center gap-2" style="cursor: pointer;">
        Editar Contraseña
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
        </svg>
      </button>
      
    </div>
    
    <!-- Main modal -->
    <div id="authentication-modal" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex items-center justify-center p-4">
        <div class="relative w-full max-h-full max-w-lg md:max-w-xl lg:max-w-2xl p-4">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-500 bg-white">
                    <h3 class="text-lg font-bold text-gray-800">
                        Editar <span class="text-primary p-2 font-bold">Password de Usuario</span>
                    </h3>
                    <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="authentication-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="relative p-4 w-full max-w-[600px] md:max-w-[800px] max-h-[90vh] overflow-y-auto">
                    <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()" class="space-y-4">
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center relative">
                            <label for="oldPassword" class="text-lm font-bold text-gray-900">Password Anterior</label>
                            <input type="password" formControlName="oldPassword" id="oldPassword" placeholder="••••••••••••••••" class="w-full pr-10 p-2 border rounded-lg
                            focus:ring-primary-600 focus:border-primary-600" required />
                        </div>  
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center relative">
                            <label for="newPassword" class="text-lm font-bold text-gray-900">Nueva Password</label>
                            <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" id="newPassword" placeholder="••••••••••••••••" class="w-full pr-10 p-2 border rounded-lg
                            focus:ring-primary-600 focus:border-primary-600" required />
                            <button
                              type="button"
                              (click)="showNewPassword = !showNewPassword"
                              class="absolute inset-y-0 right-3 flex items-center text-gray-400 hover:text-gray-600"
                              aria-label="Mostrar u ocultar contraseña"
                              >
                              <i class="fa-solid text-black" [class.fa-eye]="!showNewPassword" [class.fa-eye-slash]="showNewPassword"></i> 
                            </button>
                        </div>
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center relative">
                            <label for="repeatPassword" class="text-lm font-bold text-gray-900">Repite Nueva Password</label>
                            <input [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" id="repeatPassword" placeholder="••••••••••••••••" class="w-full pr-10 p-2 border rounded-lg 
                            focus:ring-primary-600 focus:border-primary-600" required />
                            <button
                              type="button"
                              (click)="showRepeatPassword = !showRepeatPassword"
                              class="absolute inset-y-0 right-3 flex items-center text-gray-400 hover:text-gray-600"
                              aria-label="Mostrar u ocultar contraseña"
                              >
                              <i class="fa-solid text-black" [class.fa-eye]="!showRepeatPassword" [class.fa-eye-slash]="showRepeatPassword"></i> 
                            </button>
                        </div>
                      <div class="flex justify-end">
                        <button 
                          type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" 
                          data-modal-hide="authentication-modal" style="cursor: pointer;">
                          Cancelar
                        </button>
                        <button type="submit"  class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark" 
                          style="cursor: pointer;"
                          [disabled]="passwordForm.invalid
                          || passwordForm.hasError('mismatch')">
                          Actualizar Password
                        </button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <table class="w-full border-collapse">
      
    </table>
  </div>
</div>
