<div class="pl-10 bg-white rounded-lg shadow-md">
  <!-- Encabezado -->
  <div class="flex justify-between items-start mb-6">
    <!-- Foto de perfil (círculo) y datos a la izquierda -->
    <div class="flex items-center gap-10 mt-4">
      <!-- Texto -->
      <div class="flex items-center justify-between w-full">
        <div>
          <h1 class="text-3xl mb-6 ml-2 font-bold text-gray-800">Mi Perfil</h1>
          <p class="text-primary font-bold">{{user?.email}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Línea divisoria -->
  <hr class="my-4 border-gray-500 mr-10">

  <!-- Información Personal -->
  <div class="mb-6">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-4">
      <h2 class="text-xl font-bold text-gray-800">
        Informacion <span class="text-primary">Personal</span>
      </h2>
      <!-- Botón "Editar" a la derecha -->
      <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" class="max-w-[180px] mt-4 mr-40 md:mt-0 bg-orange-500 text-white px-6 py-4 rounded flex items-center gap-2 " type="button" 
      style="cursor: pointer">
        Editar Usuario
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
        </svg>
      </button>
      
    </div>
    
    <!-- Main modal -->
    <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                    <h3 class="text-lg font-semibold text-black">
                        Editar <span class="text-primary p-2 font-bold">Datos Usuario</span>
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal"
                    (click)="isEditModalOpen = true">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <form [formGroup]="userForm" (ngSubmit)="saveUserData()" class="p-4 md:p-5 bg-white text-black rounded-lg shadow-lg">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div>
                            <label for="nombre" class="block mb-2 text-sm font-medium text-black">Nombre</label>
                            <input type="text" formControlName="nombre" id="nombre" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Escribe tu nombre" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="apellidos" class="block mb-2 text-sm font-medium text-black">Apellidos</label>
                            <input type="text" formControlName="apellidos" id="apellidos" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Escribe tus apellidos" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="email" class="block mb-2 text-sm font-medium text-black">Email</label>
                            <input type="email" formControlName="email" id="email" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Escribe tu email" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="fecha_nacimiento" class="block mb-2 text-sm font-medium text-black">Fecha de nacimiento</label>
                            <input type="date" formControlName="fecha_nacimiento" id="fecha_nacimiento" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type product name" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="fecha_alta" class="block mb-2 text-sm font-medium text-black">Fecha de alta</label>
                            <input type="text" [value]="editedUser.fecha_alta" readonly formControlName="fecha_alta" id="fecha_alta" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="sexo" class="block mb-2 text-sm font-medium text-black">Sexo</label>
                            <select formControlName="sexo" id="sexo" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                              <option [value]="0">Masculino</option>
                              <option [value]="1">Femenino</option>
                              <option [value]="2">NS/NSC</option>
                            </select>
                        </div>
                        <div class="col-span-2">
                            <label for="peso" class="block mb-2 text-sm font-medium text-black">Peso</label>
                            <input type="text" formControlName="peso" id="peso" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Dame tu peso" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="altura" class="block mb-2 text-sm font-medium text-black">Altura</label>
                            <input type="text" formControlName="altura" id="altura" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Dame tu altura" required="">
                        </div>
                        <div class="col-span-2">
                            <label for="imc" class="block mb-2 text-sm font-medium text-black">IMC</label>
                            <input type="text" formControlName="imc" id="imc" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Dame tu IMC" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                           <label for="objetivo">Objetivo</label>
                            <select id="objetivo" formControlName="objetivo">
                              @for (opcion of opcionesObjetivos; track $index) {
                              @if (opcion.id === user?.objetivo_id) {
                                  <option [selected]="true" value="{{opcion.id}}">{{ opcion.nombre }}</option>
                              } @else {
                                  <option [selected]="false" value="{{opcion.id}}">{{ opcion.nombre }}</option>
                              }
                            }
                            </select>

                        </div>
                    </div>
                    <div class="flex justify-end">
                      <button 
                        type="button" 
                        class="bg-gray-500 text-white px-4 py-2 rounded mr-2" 
                        data-modal-hide="crud-modal" 
                        style="cursor: pointer;">
                        Cancelar
                      </button>
                      <button 
                        type="submit"  
                        class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark" 
                        style="cursor: pointer;"
                        [disabled]="userForm.invalid">
                        Actualizar Datos
                      </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="w-full border-collapse mt-8">
      <tbody>
        <tr class="border-b border-gray-200">
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-user mr-4"></i>
            Nombre:
          </td>
          <td class="py-2 text-gray-600">{{user?.nombre}}</td>
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-user mr-4"></i>
            Apellidos:
          </td>
          <td class="py-2 text-gray-600">{{user?.apellidos}}</td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-envelope mr-4"></i>
            Email:
          </td>
          <td class="py-2 text-gray-600">{{user?.email}}</td>
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-cake-candles mr-4"></i>
            Fecha de Nacimiento:
          </td>
          <td class="py-2 text-gray-600">{{user?.fecha_nacimiento}}</td>
          <td class="py-2 font-semibold text-gray-700"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-calendar mr-4"></i>
            Fecha de Alta:
          </td>
          <td class="py-2 text-gray-600">{{user?.fecha_alta}}</td>
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-transgender mr-4"></i>
            Sexo:
          </td>
          <td class="py-2 text-gray-600">{{user?.sexo}}</td>
          <td class="py-2 font-semibold text-gray-700"></td>
        </tr>
        <tr class="border-b border-gray-200">
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-weight-scale mr-4"></i>
            Peso:</td>
          <td class="py-2 text-gray-600">{{user?.peso}} Kg</td>
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-ruler-vertical mr-4"></i>
            Altura:</td>
          <td class="py-2 text-gray-600">{{user?.altura}} cms</td>
        </tr>
        <tr>
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-dumbbell mr-4"></i>
            IMC:</td>
          <td class="py-2 text-gray-600">{{user?.imc}}</td>
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-bullseye mr-4"></i>
            Objetivo:</td>
          <td class="py-2 text-gray-600">{{user?.objetivo}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Línea divisoria -->
  <hr class="my-10 border-gray-500 mr-10">

  <!-- Contraseñas -->
  <div>
    <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-4">
      <h2 class="text-xl font-bold text-gray-800">
        Contraseña <span class="text-primary">Usuario</span>
      </h2>
      <!-- Botón "Editar" a la derecha -->
      <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="max-w-[180px] mt-4 md:mt-0 mr-40 bg-orange-500 text-white px-6 py-4 rounded flex items-center gap-2" style="cursor: pointer;">
        Editar Contraseña
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
        </svg>
      </button>
      
    </div>
    
    <!-- Main modal -->
    <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-200 bg-white">
                    <h3 class="text-lg font-bold text-gray-800">
                        Editar <span class="text-primary p-2 font-bold">Password de Usuario</span>
                    </h3>
                    <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="authentication-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 bg-white rounded-lg shadow">
                    <form [formGroup]="userForm" (ngSubmit)="saveUserData()" class="space-y-4">
                        <div class="flex items-center justify-between gap-10">
                            <label for="password" class="block text-sm font-bold text-gray-900 whitespace-nowrap">Password Anterior</label>
                            <input type="password" formControlName="password" id="password" placeholder="••••••••" class="flex-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" required />
                        </div>  
                        <div class="flex items-center justify-between gap-10">
                            <label for="password" class="block text-sm font-bold text-gray-900 whitespace-nowrap">Password Actual</label>
                            <input type="password" formControlName="password" id="password" placeholder="••••••••" class="flex-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" required />
                        </div>
                        <div class="flex items-center justify-between gap-10">
                            <label for="password" class="block text-sm font-bold text-gray-900 whitespace-nowrap">Repite Password Actual</label>
                            <input type="password" formControlName="password" id="password" placeholder="••••••••" class="flex-1 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" required />
                        </div>
                      <div class="flex justify-end">
                        <button 
                          type="button" class="bg-gray-500 text-white px-4 py-2 rounded mr-2" 
                          data-modal-hide="crud-modal" style="cursor: pointer;">
                          Cancelar
                        </button>
                        <button type="submit"  class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark" 
                          style="cursor: pointer;">
                          Actualizar Password
                        </button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <table class="w-full border-collapse">
      <tbody>
        <tr class="border-b border-gray-200">
          <td class="py-2 font-semibold text-gray-700">
            <i class="fa-solid fa-lock mr-4"></i>
            Password:</td>
          <td class="py-2 text-gray-600">{{user?.password}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
