<div
  class="bg-white rounded-2xl shadow-md border border-gray-200 p-6 transition hover:shadow-lg mb-5"
>
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-6"
  >
    <!-- Info principal -->
    <div class="flex flex-col gap-2 flex-1">
      <h3 class="text-xl font-semibold text-gray-800">{{ rutina?.nombre }}</h3>
      <div class="mb-3 text-sm text-gray-500">
        <p class="italic">“{{ rutina?.observaciones }}”</p>
      </div>
      <div class="flex flex-wrap items-center gap-4 text-sm text-gray-600">
        <div class="flex items-center gap-2">
          <i class="fas fa-dumbbell text-blue-500"></i>
          <span>{{ rutina?.ejercicios?.length }} ejercicios</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fas fa-layer-group text-green-500"></i>
          <span>Nivel: {{ rutina?.dificultad }}</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fas fa-bullseye text-pink-600"></i>
          <span>Objetivo: {{ rutina?.objetivo }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row gap-3 self-end md:self-auto md:flex-col">
      <a
        class="bg-primary text-white hover:bg-secondary transition text-sm font-medium px-4 py-2 rounded-lg flex items-center gap-2 cursor-pointer"
        (click)="saveRoutine(rutina?.id_rutina)"
      >
        <i class="fas fa-floppy-disk"></i> Guardar
      </a>

      <a
        class="bg-white text-black hover:bg-background border border-gray-300 transition text-sm font-medium px-4 py-2 rounded-lg flex items-center gap-2 cursor-pointer"
        (click)="openModal(rutina)"
      >
        <i class="fas fa-eye"></i> Ver detalle
      </a>
    </div>
  </div>


  @if(selectedExerciseList) {
    <div
      tabindex="-1"
      aria-hidden="true"
      class="fixed left-0 right-0 top-0 z-50 h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 bg-gray-900/50 flex justify-center items-center"
    >
      <div class="relative max-h-full w-full max-w-xl bg-white rounded-lg shadow-sm">
        <div class="flex items-start justify-between rounded-t border-b p-5">
          <h5 class="text-xl font-bold text-black lg:text-2xl">
            {{ selectedExerciseList.nombre }} - Ejercicios
          </h5>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900"
            (click)="closeModal()"
          >
            <svg
              class="h-3 w-3"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
        </div>

        <div class="p-6 text-gray-700 space-y-4 max-h-[400px] overflow-y-auto">
          @for(ejercicio of selectedExerciseList.ejercicios; track $index) {
            <div class="border-b border-gray-200 pb-2">
      <h6 class="font-semibold text-lg">{{ ejercicio.nombre }}</h6>

      <div class="flex flex-col md:flex-row gap-2 md:items-center mt-2">
        <div class="flex items-center gap-2 bg-green-100 text-green-800 text-xs font-medium px-2 py-1 rounded-full">
          <i class="fas fa-dumbbell text-sm"></i>
          <span>Grupo muscular: {{ ejercicio.grupos_musculares }}</span>
        </div>

        <div class="flex items-center gap-2 bg-gray-100 text-gray-800 text-xs font-medium px-2 py-1 rounded-full">
          <i class="fa-solid fa-1"></i>
          <span>{{ ejercicio.step_1 }}</span>
        </div>

        <div class="flex items-center gap-2 bg-gray-100 text-gray-800 text-xs font-medium px-2 py-1 rounded-full">
          <i class="fa-solid fa-2"></i>
          <span>{{ ejercicio.step_2 }}</span>
        </div>
      </div>
    </div>
          }
        </div>

        <div class="flex items-center justify-end rounded-b border-t border-gray-200 p-6">
          <button
            type="button"
            aria-label="Cerrar modal"
            class="rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-secondary focus:outline-none focus:ring-4 focus:ring-primary"
            (click)="closeModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  }
</div>