<header>
  <app-nav></app-nav>
</header>

<body>
  <section class="relative min-h-screen flex items-center justify-center overflow-hidden">
    <div class="relative z-10 w-full px-4 sm:px-6 lg:px-8 max-w-screen-2xl mx-auto mt-20 lg:mt-0 md:mt-0">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Descargo de Responsabilidad Médica</h1>

      <br><br>
      <p>RutinaGo es una aplicación que ofrece rutinas y recomendaciones generales de ejercicio físico con fines informativos y de bienestar.</p><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">1. No es asesoramiento médico</h3>
      <p>La información proporcionada en RutinaGo no constituye asesoramiento médico profesional ni sustituye una consulta con un médico, fisioterapeuta o entrenador personal certificado.</p><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">2. Uso bajo responsabilidad del usuario</h3>
      <p>Antes de comenzar cualquier rutina de ejercicio, recomendamos consultar a un médico, especialmente si tienes alguna condición médica o estás embarazada.
      El uso de RutinaGo es completamente voluntario y bajo tu propio riesgo.
      RutinaGo no se hace responsable por lesiones, molestias, o cualquier efecto adverso derivado del uso de las rutinas.</p><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">3. Resultados individuales</h3>
      <p>Los resultados pueden variar según la condición física, la constancia y otros factores. No garantizamos mejoras específicas en salud o condición física.</p>
    </div>
  </section>
</body>

<footer>
  <app-footer></app-footer>
</footer>
