<header>
  <app-nav></app-nav>
</header>

<main class="min-h-screen bg-background">
  <!-- Logo -->
  <div class="pt-12 pb-2 text-center mt-20">
    <img class="w-18 h-18 mx-auto" src="RutinaGO_LBlack.png" alt="logo" />
  </div>

  <!-- Form Container -->
  <div class="flex items-center justify-center px-4 pb-4">
    <div
      class="w-full max-w-4xl bg-white rounded-lg p-6 sm:p-8 mx-auto border border-gray-600 shadow-lg"
    >
      <div class="text-center mb-4">
        <h1
          class="text-lg font-bold leading-tight tracking-tight text-gray-900 md:text-xl"
        >
          Crea tu cuenta
        </h1>
        <p class="text-xs font-medium text-primary hover:underline">
          Completa tus datos para registrarte
        </p>
      </div>

      <form
        class="space-y-4"
        novalidate
        [formGroup]="userForm"
        (ngSubmit)="getDataForm()"
      >
        <!-- Información básica -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Columna izquierda -->
          <div class="space-y-4">
            <!-- Nombre -->
            <div>
              <label
                for="nombre"
                class="block mb-1 text-xs font-medium text-gray-900"
                >Nombre</label
              >
              <input
                type="text"
                id="nombre"
                formControlName="nombre"
                placeholder="Escribe tu nombre"
                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition bg-gray-50"
                [class.border-red-500]="checkControl('nombre', 'required')"
              />
              <div class="h-4">
                @if (checkControl('nombre', 'required')) {
                <p class="text-red-500 text-xs">Campo obligatorio</p>
                }
                @if (checkControl('nombre', 'minlength')) {
                <p class="text-red-500 text-xs">
                  Debe tener al menos 3 caracteres
                </p>
                }
              </div>
            </div>

            <!-- Apellidos -->
            <div>
              <label
                for="apellidos"
                class="block mb-1 text-xs font-medium text-gray-900"
                >Apellidos</label
              >
              <input
                type="text"
                id="apellidos"
                formControlName="apellidos"
                placeholder="Escribe tus apellidos"
                class="bg-gray-50 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                [class.border-red-500]="checkControl('apellidos', 'required')"
              />
              <div class="h-4">
                @if (checkControl('apellidos', 'required')) {
                <p class="text-red-500 text-xs">Campo obligatorio</p>
                }
                @if (checkControl('apellidos', 'minlength')) {
                <p class="text-red-500 text-xs">
                  Debe tener al menos 2 caracteres
                </p>
                }
              </div>
            </div>

            <!-- Email -->
            <div>
              <label
                for="email"
                class="block mb-1 text-xs font-medium text-gray-900"
                >Correo electrónico</label
              >
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="ejemplo@email.com"
                class="bg-gray-50 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                [class.border-red-500]="checkControl('email', 'required')"
              />
              <div class="h-4">
                @if (checkControl('email', 'required')) {
                <p class="text-red-500 text-xs">Campo obligatorio</p>
                }
                @if (checkControl('email', 'pattern')) {
                <p class="text-red-500 text-xs">El email tiene que ser válido</p>
                }
              </div>
            </div>
          </div>

          <!-- Columna derecha -->
          <div class="space-y-4">
            <!-- Contraseña -->
            <div>
              <label for="password" class="block mb-1 text-xs font-medium text-gray-900">Contraseña</label>
              <div class="relative">
                <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" placeholder="••••••••"
                       class="bg-gray-50 w-full px-3 py-2 pr-10 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                       [class.border-red-500]="checkControl('password', 'required')">
                <button type="button" class="absolute right-2 top-1/2 transform -translate-y-1/2"
                        (click)="togglePasswordVisibility()">
                  <img [src]="showPassword ? 'eye-slash.svg' : 'eye.svg'" alt="toggle visibility" class="h-4 w-4">
                </button>
              </div>
              <div class="h-4">
                @if (checkControl('password', 'minlength')) {
                  <p class="text-red-500 text-xs">Mínimo 6 caracteres</p>
                }
                @if (checkControl('password', 'maxlength')) {
                  <p class="text-red-500 text-xs">Máximo 16 caracteres</p>
                }
              </div>
            </div>

            <!-- Confirmar Contraseña -->
            <div>
              <label for="confirm_password" class="block mb-1 text-xs font-medium text-gray-900">Confirmar Contraseña</label>
              <div class="relative">
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirm_password" formControlName="confirm_password" placeholder="••••••••"
                       class="bg-gray-50 w-full px-3 py-2 pr-10 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                       [class.border-red-500]="checkControl('confirm_password', 'required')">
                <button type="button" class="absolute right-2 top-1/2 transform -translate-y-1/2"
                        (click)="toggleConfirmPasswordVisibility()">
                  <img [src]="showConfirmPassword ? 'eye-slash.svg' : 'eye.svg'" alt="toggle visibility" class="h-4 w-4">
                </button>
              </div>
              <div class="h-4">
                @if (checkControl('confirm_password', 'minlength')) {
                  <p class="text-red-500 text-xs">Mínimo 6 caracteres</p>
                }
                @if (checkControl('confirm_password', 'maxlength')) {
                  <p class="text-red-500 text-xs">Máximo 16 caracteres</p>
                }
              </div>
            </div>

            <!-- Sexo -->
            <div>
              <label for="sexo" class="block mb-1 text-xs font-medium text-gray-900">Sexo</label>
              <select id="sexo" formControlName="sexo"
                      class="bg-gray-50 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                      [class.border-red-500]="checkControl('sexo', 'required')">
                <option value="" disabled selected>Selecciona tu sexo</option>
                <option value="1">Hombre</option>
                <option value="2">Mujer</option>
                <option value="3">Otro/NSNC</option>
              </select>
              <div class="h-4">
                @if (checkControl('sexo', 'required')) {
                  <p class="text-red-500 text-xs">Por favor selecciona una opción</p>
                }
              </div>
            </div>
          </div>
        </div>

        <!-- Información adicional -->
   <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div> <!-- contenedor para fecha de nacimiento -->
    <label class="block mb-1 text-xs font-medium text-gray-900">Fecha de Nacimiento</label>
    <div class="grid grid-cols-3 gap-2">
      <select formControlName="day" class="bg-gray-50 px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition">
        <option value="">Día</option>
        @for (dia of dias; track dia) {
          <option [value]="dia">{{ dia }}</option>
        }
      </select>
      <select formControlName="month" class="bg-gray-50 px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition">
        <option value="">Mes</option>
        @for (mes of meses; track mes) {
          <option [value]="mes.value">{{ mes.name }}</option>
        }
      </select>
      <select formControlName="year" class="bg-gray-50 px-2 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition">
        <option value="">Año</option>
        @for (anio of anios; track anio) {
          <option [value]="anio">{{ anio }}</option>
        }
      </select>
    </div>
  </div>



          <!-- Objetivo -->
          <div>
            <label for="objetivo" class="block mb-1 text-xs font-medium text-gray-900">Objetivo</label>
            <select id="objetivo" formControlName="objetivo"
                    class="bg-gray-50 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                    [class.border-red-500]="checkControl('objetivo', 'required')">
              <option value="" disabled selected>Selecciona tu objetivo</option>
              <option value="perder_peso">Perder peso</option>
              <option value="ganar_musculo">Ganar músculo</option>
              <option value="mantener">Mantener forma</option>
              <option value="mejorar_salud">Mejorar salud</option>
            </select>
            <div class="h-4">
              @if (checkControl('objetivo', 'required')) {
                <p class="text-red-500 text-xs">Por favor selecciona una opción</p>
              }
            </div>
          </div>
        </div>

        <!-- Medidas corporales -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Peso -->
          <div>
            <label for="peso" class="block mb-1 text-xs font-medium text-gray-900">Peso (kg)</label>
            <input type="text" id="peso" formControlName="peso" placeholder="Ejm. 70"
                   class="bg-gray-50 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                   [class.border-red-500]="checkControl('peso', 'required')">
            <div class="h-4">
              @if (checkControl('peso', 'required')) {
                <p class="text-red-500 text-xs">Campo obligatorio</p>
              }
              @if (checkControl('peso', 'pattern')) {
                <p class="text-red-500 text-xs">Solo campo numérico</p>
              }
            </div>
          </div>

          <!-- Altura -->
          <div>
            <label for="altura" class="block mb-1 text-xs font-medium text-gray-900">Altura (cm)</label>
            <input type="text" id="altura" formControlName="altura" placeholder="Ejm. 170"
                   class="bg-gray-50 w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-primary transition"
                   [class.border-red-500]="checkControl('altura', 'required')">
            <div class="h-4">
              @if (checkControl('altura', 'required')) {
                <p class="text-red-500 text-xs">Campo obligatorio</p>
              }
              @if (checkControl('altura', 'pattern')) {
                <p class="text-red-500 text-xs">Solo campo numérico</p>
              }
            </div>
          </div>
        </div>

        <!-- Botón de Registro -->
        <div class="pt-2 flex justify-center">
          <button type="submit"
                  class="w-auto px-6 py-2 text-white bg-primary hover:bg-secondary focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm transition">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</main>

<footer>
  <app-footer></app-footer>
</footer>
