<Header>
<app-nav></app-nav>
</Header>
<body class="px-4 sm:px-6 lg:px-8 max-w-screen-xl mx-auto">

<section>
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl">Potencia tu rendimiento con un plan de rutinas <span class="text-[#F05A1A]"> a medida </span></h1>
      <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl ">Descubre <span class="font-bold text-black"> rutinas específicas </span> diseñadas para tu nivel y metas. Maximiza tu potencial y consigue progresos medibles y <span class="font-bold text-black">resultados reales.</span></p>
      <div class="flex gap-3">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg" style="background-color: #F05A1A; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#DB4100'" onmouseout="this.style.backgroundColor='#F05A1A'">
          Comenzar ahora     
        </a>
      </div>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img src="hero.jpg" alt="hero">
    </div>
  </div>
</section>
    
</body>
<footer>
<app-footer></app-footer>
</footer>
