Podemos modificar esta política ocasionalmente. Te notificaremos cualquier cambio importante a través de la app o por correo electrónico
<header>
  <app-nav></app-nav>
</header>

<body>
  <section class="bg-gray-50 font-primary">
    <div class="flex flex-col justify-center px-6 mx-auto md:h-screen lg:py-0">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Política de Privacidad de RutinaGo</h1>

      <br><br>
      <p>Última actualización: 23/06/2025</p><br>
      <p>En RutinaGo, nos comprometemos a proteger tu privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos tu información personal al usar nuestra aplicación.</p>
      <br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">1. Información que recopilamos</h3>
      <ul>Usamos tus datos para:
        <li>- Datos personales: nombre, correo electrónico, edad</li>
        <li>- Datos de actividad: rutinas realizadas, tiempo de ejercicio, progreso</li>
        <li>- Datos técnicos: tipo de dispositivo, sistema operativo, dirección IP</li>
      </ul><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">2. Uso de la información</h3>
      <ul>Podemos recopilar los siguientes datos:
        <li>- Personalizar tu experiencia de usuario</li>
        <li>- Mejorar nuestras funciones y rutinas</li>
        <li>- Enviar notificaciones (si el usuario lo permite)</li>
        <li>- Analizar estadísticas de uso</li>
      </ul><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">3. Compartir datos con terceros</h3>
      <ul>No vendemos ni compartimos tu información personal con terceros, salvo en los siguientes casos:
        <li>- Proveedores de servicios que nos ayudan a operar la aplicación</li>
        <li>- Requerimientos legales por parte de autoridades</li>
      </ul><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">4. Seguridad</h3>
      <p>Tomamos medidas razonables para proteger tu información mediante cifrado, autenticación y control de acceso.</p><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">5. Derechos del usuario</h3>
      <ul>Tienes derecho a:
        <li>- Acceder a tus datos personales</li>
        <li>- Corregir errores en tu información</li>
        <li>- Solicitar la eliminación de tus datos</li>
        <li>- Retirar el consentimiento para el tratamiento de datos</li>
        <li>- Puedes ejercer estos derechos escribiéndonos a: soporte&#64;rutinago.es</li>
      </ul><br>

      <h3 class="text-sm font-bold leading-tight tracking-tight text-gray-900">6. Cambios a esta política</h3>
      <p>Podemos modificar esta política ocasionalmente. Te notificaremos cualquier cambio importante a través de la app o por correo electrónico</p><br>

    </div>
  </section>
</body>
<footer>
  <app-footer></app-footer>
</footer>
