<div class="bg-white rounded-xlng shadow font-primary">
      <section >
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          
        <!-- titulo y subtitulo -->
          <div class="max-w-screen-lg mx-auto text-gray-500 sm:text-lg">
            <h1 class="mb-4 text-2xl tracking-tight font-bold text-gray-900">Ejercicios</h1>
            <p class="mb-4 font-light">
              Explora los ejercicios disponibles con instrucciones detalladas
            </p>


          <!-- Buscador, falta lógica -->
          <form class="max-w-screen-lg mx-auto mt-6" (ngSubmit)="onSearch(searchInput.value); $event.preventDefault()">
  <div class="relative w-full">
    <input
      #searchInput
      type="search"
      id="default-search"
      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary focus:border-primary"
      placeholder="Buscar ejercicios..."
    />
    <button
      type="submit"
      class="text-white absolute end-2.5 bottom-2.5 bg-primary hover:bg-secondary font-medium rounded-lg text-sm px-4 py-2"
    >
      Buscar
    </button>
  </div>
</form>


      <section class="bg-white">


          <!-- Tarjetas de ejercicios, en pantallas 3 cards, 2 tablets, 1 movil -->
          <div class="max-w-screen-xl mx-auto mt-10 ">
            <div class="">
              @for( exercise of paginatedExercises; track exercise.id) {
                <div class="mb-4">
                  <app-dashboard-card
                    [myExercise]="exercise"
                  ></app-dashboard-card>
                </div>
              }
              <!-- Tarjeta 1 -->
              <div>
                <app-dashboard-card></app-dashboard-card>
              </div>
            
            </div>

<!-- Botones de paginación -->
<div class="max-w-screen-lg mx-auto mt-8 flex justify-end">
  <button
    class="bg-background-dark hover:bg-gray-300 text-white font-semibold py-2 px-2 w-10 h-10 rounded-lg disabled:opacity-50 me-2"
  (click)="previousPage()"
    [disabled]="currentPage === 1"
  >
    &lt;
  </button>

  <button
    class="bg-background-dark hover:bg-secondary text-white font-semibold py-2 px-2 w-10 h-10 rounded-lg disabled:opacity-50"
(click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    &gt;
  </button>
</div>

