@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Configuracion de estilos globales (Tailwind v4) */
@theme {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    --color-primary: #F05A1A;
    --color-secondary: #DB5015; 
    --color-background: #F3F4F6; 
    --color-background-dark: #18181B;
    
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
}