@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.fc .fc-toolbar-title {
  font-size: 1em;
  margin: 0px;
}

.fc .fc-button {
  background-color: var(--color-background-dark);
  border-color: var(--color-background-dark);
}

.fc .fc-button:hover {
  background-color: #27272a;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-event-main {
  cursor: pointer;
}

/* Configuracion de estilos globales (Tailwind v4) */
@theme {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  --color-primary: #f05a1a;
  --color-secondary: #db5015;
  --color-background: #f3f4f6;
  --color-background-dark: #18181b;
}

html {
  scroll-behavior: smooth;
}

/* Arreglar bug de Flowbite con el backdrop del drawer duplicado en dispositivos móviles */
@media (max-width: 640px) {
  [drawer-backdrop]:not(:first-of-type) {
    display: none !important;
  }

  .fc .fc-toolbar {
    align-items: center;
    display: flow;
    justify-content: space-between;
  }
}
