<div class="bg-background-dark shadow-sm ">
  <div class="w-full mx-auto max-w-screen-xl p-4 pb-1 flex justify-center">
    <span class="text-xs text-white text-center">
      <a [routerLink]="['/home']" class="hover:underline cursor-pointer">© 2025 RutinaGo™</a>
    </span>
  </div>

 <div class="w-full mx-auto max-w-screen-xl pb-4 mt-2 flex flex-col items-center gap-2 md:flex-row md:justify-center md:gap-4 text-center">
  <span class="text-xs text-white">
    <a [routerLink]="['/privacidad']" class="hover:underline">Política de Privacidad</a>
  </span>

  <span class="text-xs text-white">
    <a [routerLink]="['/terminos']" class="hover:underline">Términos y Condiciones</a>
  </span>

  <span class="text-xs text-white">
    <a [routerLink]="['/responsabilidad']" class="hover:underline">Descargo de Responsabilidad Médica</a>
  </span>
</div>
</div>
