<div class="bg-background-dark shadow-sm ">
  <div class="w-full mx-auto max-w-screen-xl p-4 pb-1 flex justify-center">
    <span class="text-xs text-white text-center">
      © 2025 <a href="https://flowbite.com/" class="hover:underline">RutinaGo™</a>.
    </span>
  </div>
  <div class="w-full mx-auto max-w-screen-xl pb-4 justify-center">
    <br>
    <span class="text-xs text-white text-center">
      <a [routerLink]="['/privacidad']" class="hover:underline">Política de Privacidad</a>
    </span>
    <br>
    <span class="text-xs text-white text-center">
      <a [routerLink]="['/terminos']" class="hover:underline">Terminos y Condiciones</a>
    </span>
    <br>
    <span class="text-xs text-white text-center">
      <a [routerLink]="['/responsabilidad']" class="hover:underline">Descargo de Responsabilidad Médica</a>
    </span>
  </div>
</div>
